@page "/BooksDel"
@using Domain.Interfaces
@using Domain.Repository
@using Microsoft.EntityFrameworkCore
@using Model.Configurations
@using Model.Entities
@inject IRepository<Book> BooksRepository
<h3>BooksDel</h3>
<section>
    <div class="container container-lg">
        <div class="row">
            @foreach (var book in _books)
            {
                <div>
                    <p>
                        @book.Title
                    </p>
                </div>
            }
        </div>
    </div>
</section>




@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _books = BooksRepository.ReadAll();
    }
    List<Book> _books=new();

}